<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!-- About Me Page -->
<section id="about">
  <!-- Heading -->
  <h2>About Me</h2>
  
  <!-- Profile Section -->
  <div class="profile">
    <img src="/img/pic.png" alt="Krupali Patel">
    <h3>Krupali Patel</h3>
  </div>
  
  <!-- Introduction -->
  <p>Hello, I'm Krupali Patel. I am a passionate web developer currently pursuing my degree in Software Engineering Technology at Centennial College.</p>
  
  <!-- Skills and Experience -->
  <p>With a strong interest in technology and problem-solving, I am dedicated to honing my skills in software development and creating innovative solutions. I have a solid foundation in programming languages such as Java, C++, and Python, and I am continuously expanding my knowledge in web development.</p>
  
  <!-- Resume Link -->
  <p>If you'd like to learn more about my skills and experience, please feel free to download my resume:</p>
  <a href="https://drive.google.com/file/d/1jwV8ar73deFlzz1QZTBBcmQMqBb8iMtK/view?usp=sharing" target="_blank" class="resume-link">View Resume (PDF)</a>
</section>

<!-- Rest of your page content -->

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
