
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- Main Navigation -->

<section class="project" id="project">
  <div class="container">
    <h2 style="text-align: center;">My Projects</h2>
    <div class="row" id="projectContainer">

      <!-- Left Block -->
      <div class="bar" style="text-align: center;">
        <div class="info">
          <img draggable="false" class="tilt" src="/img/port.com-gif-maker (2).gif" alt="Project Image" style="width: 300px; height: auto;">
          <p>Personal Portfolio</p>
          <p>I built my first Personal Portfolio using ExpressJS and NodeJS, implementing the EJS templating engine and Express Routes, and deployed it on Server.</p>
        </div>
      </div> 

      <!-- Center Block -->
      <div class="bar" style="text-align: center;">
        <div class="info">
          <img draggable="false" class="image" src="/img/ezgif.com-gif-maker (1).gif" alt="Blood Management System" style="width: 300px; height: auto;">
          <p>Developed Blood Management System</p>
          <p>Track and manage blood inventory, donors, and transfusions while ensuring regulatory compliance.</p>
        </div>
      </div> 

      <!-- Right Block -->
      <div class="bar" style="text-align: center;">
        <div class="info">
          <img draggable="false" class="image" src="/img/ezgif.com-gif-maker.gif" alt="Pawsibility Pet Subsystem" style="width: 300px; height: auto;">
          <p>Pawsibility Pet Subsystem</p>
          <p>Revolutionizing pet management with a user-friendly solution for adoption, healthcare, and scheduling.</p>
        </div><br><br><br>
      </div> 

    </div> 
  </div>
</section>



</section>

<!-- Script section -->
<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
```

