<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<html>
<head>
  
</head>
<body>
  <section id="services">
    <!-- Services Section -->
    <h2 style="text-align: center;">Welcome to Our Services</h2>
    <div class="services-container">
      <!-- Service 1: Web Development -->
      <div class="service">
        <div class="image-container">
          <!-- Web Development Image -->
          <img src="/img/html.png" alt="Web Development">
        </div>
        <h3>Web Development</h3>
        <p>Creating responsive and user-friendly websites using HTML, CSS, and JavaScript.</p>
      </div>
      <!-- Service 2: Mobile App Development -->
      <div class="service">
        <div class="image-container">
          <!-- Mobile App Development Image -->
          <img src="/img/java.png" alt="Mobile App Development">
        </div>
        <h3>Mobile App Development</h3>
        <p>Developing mobile applications for iOS and Android platforms using Swift, Java, and Kotlin.</p>
      </div>
      <!-- Service 3: Database Management -->
      <div class="service">
        <div class="image-container">
          <!-- Database Management Image -->
          <img src="/img/mysql.png" alt="Database Management">
        </div>
        <h3>Database Management</h3>
        <p>Offering database management services using SQL, MySQL, and MongoDB.</p>
      </div>
      <!-- Service 4: UI/UX Design -->
      <div class="service">
        <div class="image-container">
          <!-- UI/UX Design Image -->
          <img src="/img/adobe.png" alt="UI/UX Design">
        </div>
        <h3>UI/UX Design</h3>
        <p>Creating visually appealing user interfaces and enhancing user experiences using tools like Adobe XD and Figma.</p>
      </div>
    </div>
  </section>
</body>
</html>

<!-- Bottom Navigation -->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
